@use "variables" as *;
html[data-theme="light"] {

  $gradient1: darken($color: #4da6f9, $amount: 1);
  $gradient2: darken($color: #084eb6, $amount: 1);
  $color-text: #{$darkBlue};
  $color-background: #{$offWhite};
  $second-background: #FFFFFF;
  $color-accent: #FFFFFF;
  $gradient1: darken($color: #4da6f9, $amount: 1);
  $gradient2: darken($color: #084eb6, $amount: 1);
}