@use "variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

html[data-theme="light"] {
  $second-background: #FFFFFF;
  $gradient1: darken($color: #4da6f9, $amount: 1);
  $gradient2: darken($color: #084eb6, $amount: 1);
  --color-text: #{$darkBlue};
  --color-background: #{$offWhite};
  --color-second-background: #{$second-background};
  --color-accent: #FFFFFF;
  --gradient-1: #{$gradient1};
  --gradient-2: #{$gradient2};
}

html[data-theme="dark"] {
  $second-background: lighten($darkBlue, 5);
  $gradient1: darken($color: #4da6f9, $amount: 20);
  $gradient2: darken($color: #084eb6, $amount: 20);
  --theme: "dark";
  --color-text: #{$offWhite};
  --color-background: #{$darkBlue};
  --color-second-background: #{$second-background};
  --color-accent: #{$lightGray};
  --gradient-1: #{$gradient1};
  --gradient-2: #{$gradient2};
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  color: var(--color-text);
  height: 100vh;
  overflow: hidden;

  &.scroll-block {
    overflow: hidden;
  }
}

p {
  white-space: pre-line;
}

a {
  text-decoration: none;
  color: $blue;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: darken($color: #000000, $amount: 0) radial-gradient(
                  189.5% 116.38% at 111.33% -32.22%,
                  var(--gradient-1) 8.92%,
                  var(--gradient-2) 77.97%
  );
  overflow: hidden;
}


.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  @media (max-width: 1024px) {
    width: 90%;
  }
}

.global-error {
  text-align: center;
  font-size: 36px;
  margin: 24px 0;
  text-transform: uppercase;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

svg path {
  opacity: .8;
}